<div th:fragment="AdminAccountTable">
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Account</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Accounts</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <!--                            <th>Password</th>-->
                            <th>Phone Number</th>
                            <th>Create At</th>
                            <th>Update At</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <!--                            <th>Password</th>-->
                            <th>Phone Number</th>
                            <th>Create At</th>
                            <th>Update At</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="i : ${accounts}">
                            <td th:text="${i.fullName}">Tiger Nixon</td>
                            <td th:text="${i.username}">System Architect</td>
                            <td th:text="${i.email}">Edinburgh</td>
                            <!--                            <td th:text="${i.password}">61</td>-->
                            <td th:text="${i.phoneNumber}">2011/04/25</td>
                            <td th:text="${i.timeCreate}">$320,800</td>
                            <td th:text="${i.timeUpdate}">$320,800</td>
                            <td>Edit</td>
                            <td>Delete</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>