<div th:fragment="BlogPage">

    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/assets/images/bg_1.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Trang chủ <i
                            class="fa fa-chevron-right"></i></a></span> <span>Bài viết <i
                            class="fa fa-chevron-right"></i></span></p>
                    <h1 class="mb-0 bread">Bài viết</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry justify-content-end">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/assets/images/image_1.jpg');">
                        </a>
                        <div class="text">
                            <div class="d-flex align-items-center mb-4 topp">
                                <div class="one">
                                    <span class="day">12</span>
                                </div>
                                <div class="two">
                                    <span class="yr">2023</span>
                                    <span class="mos">Tháng Ba</span>
                                </div>
                            </div>
                            <h3 class="heading"><a href="#">Địa điểm du lịch tuyệt vời tại Quảng Ninh</a></h3>
                            <p>Đi du lịch là hành trình khám phá, học hỏi và thư giãn đáng giá nhất trong cuộc sống.</p>
                            <p><a href="#" class="btn btn-primary">Đọc tiếp</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry justify-content-end">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/assets/images/image_2.jpg');">
                        </a>
                        <div class="text">
                            <div class="d-flex align-items-center mb-4 topp">
                                <div class="one">
                                    <span class="day">11</span>
                                </div>
                                <div class="two">
                                    <span class="yr">2023</span>
                                    <span class="mos">Tháng Tư</span>
                                </div>
                            </div>
                            <h3 class="heading"><a href="#">Những địa điểm du lịch nổi tiếng</a></h3>
                            <p>Du lịch là cách tuyệt vời để khám phá thế giới và tạo ra những ký ức đáng nhớ.</p>
                            <p><a href="#" class="btn btn-primary">Đọc tiếp</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/assets/images/image_3.jpg');">
                        </a>
                        <div class="text">
                            <div class="d-flex align-items-center mb-4 topp">
                                <div class="one">
                                    <span class="day">15</span>
                                </div>
                                <div class="two">
                                    <span class="yr">2023</span>
                                    <span class="mos">Tháng Năm</span>
                                </div>
                            </div>
                            <h3 class="heading"><a href="#">Những địa điểm du lịch nổi bật</a></h3>
                            <p>Du lịch là cửa sổ mở ra thế giới, nơi ta khám phá vẻ đẹp, văn hóa và những chuyến phiêu
                                lưu.</p>
                            <p><a href="#" class="btn btn-primary">Đọc tiếp</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/assets/images/image_4.jpg');">
                        </a>
                        <div class="text">
                            <div class="d-flex align-items-center mb-4 topp">
                                <div class="one">
                                    <span class="day">16</span>
                                </div>
                                <div class="two">
                                    <span class="yr">2023</span>
                                    <span class="mos">Tháng Năm</span>
                                </div>
                            </div>
                            <h3 class="heading"><a href="#">Địa điểm du lịch tuyệt vời</a></h3>
                            <p>Đi du lịch là trải nghiệm cuộc sống đa dạng, nơi ta tìm thấy niềm vui và sự phấn khích trong
                                mỗi ngóc ngách của thế giới.</p>
                            <p><a href="#" class="btn btn-primary">Đọc tiếp</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/assets/images/image_5.jpg');">
                        </a>
                        <div class="text">
                            <div class="d-flex align-items-center mb-4 topp">
                                <div class="one">
                                    <span class="day">18</span>
                                </div>
                                <div class="two">
                                    <span class="yr">2023</span>
                                    <span class="mos">Tháng Sáu</span>
                                </div>
                            </div>
                            <h3 class="heading"><a href="#">Du lịch dùng gia đình</a></h3>
                            <p>Du lịch là cách thức tạo dựng những câu chuyện, nơi cuộc sống trở nên màu sắc và đáng nhớ hơn
                                bao giờ hết.</p>
                            <p><a href="#" class="btn btn-primary">Đọc tiếp</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/assets/images/image_6.jpg');">
                        </a>
                        <div class="text">
                            <div class="d-flex align-items-center mb-4 topp">
                                <div class="one">
                                    <span class="day">12</span>
                                </div>
                                <div class="two">
                                    <span class="yr">2023</span>
                                    <span class="mos">Tháng Chín</span>
                                </div>
                            </div>
                            <h3 class="heading"><a href="#">Du lịch cùng bạn bè</a></h3>
                            <p>Đi du lịch là dịp để thoát khỏi cuộc sống hối hả, đắm mình trong khung cảnh mới lạ và thư
                                giãn tinh thần.</p>
                            <p><a href="#" class="btn btn-primary">Đọc tiếp</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            <li><a href="#">&lt;</a></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>