<div th:fragment="DestinationPage">

    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/assets/images/bg_1.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Trang chủ <i
                            class="fa fa-chevron-right"></i></a></span> <span>Danh sách Tour <i
                            class="fa fa-chevron-right"></i></span></p>
                    <h1 class="mb-0 bread">Danh sách Tour</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="search-wrap-1 ftco-animate">
                        <form action="#" class="search-property-1">
                            <div class="row no-gutters">
                                <div class="col-lg d-flex">
                                    <div class="form-group p-4 border-0">
                                        <label for="diemden12">Điểm đến</label>
                                        <div class="form-field">
                                            <div class="icon"><span class="fa fa-search"></span></div>
                                            <input type="text" id="diemden12" class="form-control"
                                                   placeholder="Tìm kiếm địa điểm">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg d-flex">
                                    <div class="form-group p-4">
                                        <label for="thoigian12">Thời gian Check-in</label>
                                        <div class="form-field">
                                            <div class="icon"><span class="fa fa-calendar"></span></div>
                                            <input type="text" id="thoigian12" class="form-control checkin_date"
                                                   placeholder="Ngày Check-In">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg d-flex">
                                    <div class="form-group p-4">
                                        <label for="thoigian123">Thời gian Check-out</label>
                                        <div class="form-field">
                                            <div class="icon"><span class="fa fa-calendar"></span></div>
                                            <input type="text" id="thoigian123" class="form-control checkout_date"
                                                   placeholder="Ngày Check-Out">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg d-flex">
                                    <div class="form-group p-4">
                                        <label for="check123">Giới hạn Giá</label>
                                        <div class="form-field">
                                            <div class="select-wrap">
                                                <div class="icon"><span class="fa fa-chevron-down"></span></div>
                                                <select name="" id="check123" class="form-control">
                                                    <option value="">1,000,000 VNĐ</option>
                                                    <option value="">1,500,000 VNĐ</option>
                                                    <option value="">2,000,000 VNĐ</option>
                                                    <option value="">2,500,000 VNĐ</option>
                                                    <option value="">3,500,000 VNĐ</option>
                                                    <option value="">4,500,000 VNĐ</option>
                                                    <option value="">5,000,000 VNĐ</option>
                                                    <option value="">5,500,000 VNĐ</option>
                                                    <option value="">6,000,000 VNĐ</option>
                                                    <option value="">Số tiền khác</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg d-flex">
                                    <div class="form-group d-flex w-100 border-0">
                                        <div class="form-field w-100 align-items-center d-flex">
                                            <input type="submit" value="Tìm kiếm"
                                                   class="align-self-stretch form-control btn btn-primary">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row" th:each="i:${tours}">
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img"
                           th:style="'background-image: url(/assets/images/tours/'+${i.imageTourOne}+')'">
                            <span class="price" th:text="${i.priceTour+ ' VNĐ/Người'}"></span>
                        </a>
                        <div class="text p-4">
                            <span class="days">8 Ngày</span>
                            <h3><a href="/destination-detail" class="d-inline-block text-truncate w-100" th:text="${i.nameTour}">Banaue
                                Rice Terraces</a></h3>
                            <p class="location"><span class="fa fa-map-marker"></span> <span th:each="j:${cities}"
                                                                                             th:if="${j.id == i.city_id}"
                                                                                             th:text="${j.nameCity}">Banaue, Ifugao, Philippines</span>
                            </p>
                            <ul>
                                <li><span class="flaticon-shower"></span>2</li>
                                <li><span class="flaticon-king-size"></span>3</li>
                                <li><span class="flaticon-mountains"></span>Gần núi</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url(/assets/images/destination-1.jpg);">
                            <span class="price">7tr VNĐ/Người</span>
                        </a>
                        <div class="text p-4">
                            <span class="days">8 Ngày</span>
                            <h3><a href="#">Banaue Rice Terraces</a></h3>
                            <p class="location"><span class="fa fa-map-marker"></span> Banaue, Ifugao, Philippines</p>
                            <ul>
                                <li><span class="flaticon-shower"></span>2</li>
                                <li><span class="flaticon-king-size"></span>3</li>
                                <li><span class="flaticon-mountains"></span>Gần núi</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url(/assets/images/destination-2.jpg);">
                            <span class="price">9tr VNĐ/Người</span>
                        </a>
                        <div class="text p-4">
                            <span class="days">10 Ngày</span>
                            <h3><a href="#">Banaue Rice Terraces</a></h3>
                            <p class="location"><span class="fa fa-map-marker"></span> Banaue, Ifugao, Philippines</p>
                            <ul>
                                <li><span class="flaticon-shower"></span>2</li>
                                <li><span class="flaticon-king-size"></span>3</li>
                                <li><span class="flaticon-sun-umbrella"></span>Gần biển</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url(/assets/images/destination-3.jpg);">
                            <span class="price">6tr5 VNĐ/Người</span>
                        </a>
                        <div class="text p-4">
                            <span class="days">7 Ngày</span>
                            <h3><a href="#">Banaue Rice Terraces</a></h3>
                            <p class="location"><span class="fa fa-map-marker"></span> Banaue, Ifugao, Philippines</p>
                            <ul>
                                <li><span class="flaticon-shower"></span>2</li>
                                <li><span class="flaticon-king-size"></span>3</li>
                                <li><span class="flaticon-sun-umbrella"></span>Gần biển</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url(/assets/images/destination-4.jpg);">
                            <span class="price">7tr5 VNĐ/Người</span>
                        </a>
                        <div class="text p-4">
                            <span class="days">8 Ngày</span>
                            <h3><a href="#">Banaue Rice Terraces</a></h3>
                            <p class="location"><span class="fa fa-map-marker"></span> Banaue, Ifugao, Philippines</p>
                            <ul>
                                <li><span class="flaticon-shower"></span>2</li>
                                <li><span class="flaticon-king-size"></span>3</li>
                                <li><span class="flaticon-sun-umbrella"></span>Gần biển</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url(/assets/images/destination-5.jpg);">
                            <span class="price">9tr5 VNĐ/Người</span>
                        </a>
                        <div class="text p-4">
                            <span class="days">10 Ngày</span>
                            <h3><a href="#">Banaue Rice Terraces</a></h3>
                            <p class="location"><span class="fa fa-map-marker"></span> Banaue, Ifugao, Philippines</p>
                            <ul>
                                <li><span class="flaticon-shower"></span>2</li>
                                <li><span class="flaticon-king-size"></span>3</li>
                                <li><span class="flaticon-sun-umbrella"></span>Gần biển</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url(/assets/images/destination-6.jpg);">
                            <span class="price">8tr VNĐ/Người</span>
                        </a>
                        <div class="text p-4">
                            <span class="days">7 Ngày</span>
                            <h3><a href="#">Banaue Rice Terraces</a></h3>
                            <p class="location"><span class="fa fa-map-marker"></span> Banaue, Ifugao, Philippines</p>
                            <ul>
                                <li><span class="flaticon-shower"></span>2</li>
                                <li><span class="flaticon-king-size"></span>3</li>
                                <li><span class="flaticon-sun-umbrella"></span>Gần biển</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url(/assets/images/destination-7.jpg);">
                            <span class="price">8tr5 VNĐ/Người</span>
                        </a>
                        <div class="text p-4">
                            <span class="days">7 Ngày</span>
                            <h3><a href="#">Banaue Rice Terraces</a></h3>
                            <p class="location"><span class="fa fa-map-marker"></span> Banaue, Ifugao, Philippines</p>
                            <ul>
                                <li><span class="flaticon-shower"></span>2</li>
                                <li><span class="flaticon-king-size"></span>3</li>
                                <li><span class="flaticon-sun-umbrella"></span>Gần biển</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url(/assets/images/destination-8.jpg);">
                            <span class="price">7tr8 VNĐ/Người</span>
                        </a>
                        <div class="text p-4">
                            <span class="days">7 Ngày</span>
                            <h3><a href="#">Banaue Rice Terraces</a></h3>
                            <p class="location"><span class="fa fa-map-marker"></span> Banaue, Ifugao, Philippines</p>
                            <ul>
                                <li><span class="flaticon-shower"></span>2</li>
                                <li><span class="flaticon-king-size"></span>3</li>
                                <li><span class="flaticon-sun-umbrella"></span>Gần biển</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url(/assets/images/destination-9.jpg);">
                            <span class="price">8tr6 VNĐ/Người</span>
                        </a>
                        <div class="text p-4">
                            <span class="days">9 Ngày</span>
                            <h3><a href="#">Banaue Rice Terraces</a></h3>
                            <p class="location"><span class="fa fa-map-marker"></span> Banaue, Ifugao, Philippines</p>
                            <ul>
                                <li><span class="flaticon-shower"></span>2</li>
                                <li><span class="flaticon-king-size"></span>3</li>
                                <li><span class="flaticon-sun-umbrella"></span>Gần biển</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            <li><a href="#">&lt;</a></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>